<footer class="footer">
  <small>
    <a href="http://nytweb.dk/">Nytweb</a>
    by Kenneth Melvej Nielsen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://nytweb.dk/blog/">News</a></li>
    </ul>
  </nav>
</footer>